body {
  margin-top: 50px;
}

.bg-image {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
}
.videoland{
  margin-top: 130px;
  min-width: 200px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#background-video{
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  padding: none;
  position: fixed;
  z-index: -6;
  }
.bg-result{
  width: 100%;
  background-color: white;
  opacity: 0.97;
}
.panel-default {
   opacity: 0.97 
}

.panel-heading {
  width: 100%;
  background-color: white;
  opacity: 0.97;
}

.margin5 {
	margin: 5px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}
.landcenter {
  text-align: center;
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px black;
  margin-top: 150px;
  margin-bottom:0px;
}
.center {
	text-align: center;
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px black;
  margin-top: 50px;
  margin-bottom: 50px;
}

.languages_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.overlay {
	z-index: 100;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}

.grid-item {width: 200px; margin: 5px;}
.grid-item--width2 { width: 400px; }

/*spinner */
#wrap{
	position: relative;
}

#root{
	position: absolute;
  width: 100%;
}

#overlay{
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	height: 100vh;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*calendar styling*/

.cal-wrapper {
    width: 768px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 210, 212);
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
}

.cal-table {
    display: table;
    border-collapse: separate;
    border-color: grey;
}

.cal-td {
    padding: 0 3px;
    position: relative;
    vertical-align: top;
    display: table-cell;
}

.cal-item {
    font-size: 11px;
    height: 84px;
    position: relative;
    width: 104px;
    border-top: 1px solid rgb(219, 223, 230);
    overflow: hidden;
    padding: 28px 0px 4px;
    transition: background 0.3s;
    color: #1d2129;
    display: block;
}

.checkbox {
    display: block;
    width: 44%;
    height: 3px;
    margin-left: 7px;
}

.checkbox+.checkbox, .radio+.radio {
    margin-top: 10px;
}

.geosuggest__suggests{
    list-style-type: none;
    padding-left: 0;
    border:2px solid #267dc0;
}

.geosuggest-item--active{
    background: #267dc0
}
.geosuggest-item{
    font-size: 14px;
    padding: .5em .65em;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest-item:hover, .geosuggest-item:focus {
    background: #f5f5f5;
}

.languages_padding{
    padding-top: 7px;
}

.img {
  position: relative;
  width: 170px;
  height: 170px;
  overflow: hidden;
}
.img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.text_image {
  width: 170px;
  height: 70px;
  text-align: center;
}

.data-reactid {
  list-style-type: none;
}

.tabs__labels {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: -1px;
}
.tabs__content {
  margin-bottom: -20px;
}
.rbc-month-view {
    position: relative;
    border: 1px solid #DDD;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 0;
     flex: 1 0; 
    width: 100%;
    height: 464px;
}

.rbc-agenda-view {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
/*    -ms-flex: 1 0 0;*/
    flex: 1 0; 
    overflow: auto;
}
.squaresContainer{
  margin-left: 5px;
  max-width: 700px;
  min-width: 300px;
}
.events{
  margin-top: 20px;
}